h1{
    background-color: cyan;
text-align: center;
color: black;

}
.blog{

background-color: rgb(196, 149, 141);
font-size: 35px;
text-align: justify;
}
.cox{
background-color: rgb(247, 154, 14);
text-align: justify;
font-size: 35px;
}